.layout {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 260px; /* Mesma largura da Sidebar */
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}

.pageBody {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 70px;
  }
  
  .pageBody {
    padding: 1rem;
  }
}
